<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196892869258-cn1ucsjiapptj81lr2sgas76lkk66rkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196892869258-cn1ucsjiapptj81lr2sgas76lkk66rkc</string>
	<key>API_KEY</key>
	<string>AIzaSyBrRoORy9AtjzfGNIK5_C9gmhALbvEzv9U</string>
	<key>GCM_SENDER_ID</key>
	<string>196892869258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.granorte.gnadmin</string>
	<key>PROJECT_ID</key>
	<string>teste-8b300</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-8b300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196892869258:ios:e209ed8a4ed13ae555e373</string>
	<key>DATABASE_URL</key>
	<string>https://teste-8b300.firebaseio.com</string>
</dict>
</plist>